<html>
<head>
  ##  <link rel="stylesheet" type="text/css" href="/main.css">

</head>


<body style="background-image: url(/library5.jpg); background-size: 100% 100%; background-repeat: no-repeat; background-attachment: fixed";>

<div class="header" style="padding-bottom: 5%;">
  <img src="/library_books_logo.png" alt="logo" style="float: left;
                                                         width: 150px;
                                                         height: 150px;">
  <h1 style=" position: relative;
               top: 50px;
               left: 20px;">Welcome to Wantsome School Library</h1>
</div>

<form id="loginForm" method='post' style="background-color:white; max-width: 400px">
 <h2 style="color:black; background-color: grey">Login </h2>
   <label style="display: block; width: 100%" for="username"><b>User</b></label><br>
    <input style="border: 1px solid #ddd;padding: 8px 12px;width: 100%;border-radius: 3px;margin: 2px 0 20px 0" type='text' name='username' value='$username' placeholder='' minlength ='1' maxlength ='30' required autofocus><br>
   <label style="display: block; width: 100%" for="password"><b>Password</b></label><br>
    <input style="border: 1px solid #ddd;padding: 8px 12px;width: 100%;border-radius: 3px;margin: 2px 0 20px 0" type='password' name='password' value='$password' placeholder='' minlength ='3' maxlength ='30' required autofocus ><br>

    <input style="background-color: #4CAF50; color: white; padding: 16px 20px; border: none;cursor: pointer; width: 100%;opacity: 0.9" type='submit' value='Sign in'>
</form>
#if ($error)
    <b style='color:red;'> $error </b> <br><br>
#end


</body>
</html>
