

#loginForm {
    max-width: 400px;
    margin: 0 auto;
}

#loginForm label {
    display: block;
    width: 100%
}

#loginForm input {
    border: 1px solid #ddd;
    padding: 8px 12px;
    width: 100%;
    border-radius: 3px;
    margin: 2px 0 20px 0;
}

#loginForm input[type="submit"] {
    color: white;
    background: #274555;
    border: 0;
    cursor: pointer;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
 ## background: #555;
}

##.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
